<div class="text-center mt-3 mb-3">
    <form>
        <div class="input-group">
          <div class="input-group-prepend" >
            <div class="input-group-text"><i aria-hidden="true" class="fa fa-search"></i></div>
          </div>
            <input 
            class="form-control" type="search"
            id="inlineFormInputGroupUsername" 
            placeholder="search..."
            autofocus
            (keyup)="debounce.next($event.target.value)"/>
            <!-- <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-remove"></i></div>
            </div> -->
        </div>
  
    </form>
  </div>