<div class="card mt-6 ">

    <h4 class="text-center pt-4">Login</h4>
    <div class="card-body">
        <form class="form" [formGroup]="loginForm">

            <div class="form-group">
                <input formControlName="userName" class="form-control" placeholder="user name" autofocus>
                <ap-message text="Username is required" *ngIf="loginForm.get('userName').errors?.required"></ap-message>
            </div>

            <div class="form-group">
                <input formControlName="password" type="password" class="form-control" placeholder="password">
                <ap-message text="Password is required" *ngIf="loginForm.get('password').errors?.required"></ap-message>
            </div>

            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-block">
                login
            </button>

        </form>

        <p>Not a user? <a>Register now</a></p>
    </div>
</div>